{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    
    <div class="col-sm-2 col-md-2">
      <div class="thumbnail">
      <div class="card">
        
          <img src="{{movie.Image_url}}"  style="width:100%" alt="Card image" class="rounded">
      

          <div class="card-title text-center">
            {{movie.title}}
          </div>
        </div>
      
      </div>
    </div>
      
    </div>
    {%else%}
  <h1>login Required </h1>

  {%endif%}
{%endblock%}