{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="row" class="d-flex justify-content-center">
    
    <div class="col-sm-2 col-md-2">
      <div class="thumbnail">
      <div class="card">
        
          <img src="{{movie.Image_url}}"  style="width:100%" alt="Card image" class="rounded">
      

          <div class="card-title text-center">
            {{movie.title}}
          </div>
        </div>
      
      </div>
    </div>
    <div>
   <a href="{% url 'movie_add' movie.pk %}" class="btn btn-outline-primary">Add to my list</button>
    </a>
  </div>
    </div>
    {%else%}
  <h1>login Required </h1>

  {%endif%}
{%endblock%}