<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation system</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid"> 
 <!--   <nav class="navbar mynav"  role="navigation" id='navbar'>-->

       
            <a class='navbar-brand' href="{%url 'homepage'%}">Recommendation system</a>

<ul class="nav navbar-nav navbar-right">

    {%if user.is_authenticated%}
 
 <li ><a href="{%url 'accounts:logout'%}" class="nav-item nav-link px-3">logout</a></li>
 <li><a href="{%url 'my_list'%}" class="nav-item nav-link px-3">My list</a></li>
 

 {%else%}


    <li><a href="{%url 'accounts:signup'%}" class="nav-item nav-link px-3"> Sign Up</a></li>
    
    <li><a href="{%url 'accounts:login'%}" class="nav-item nav-link px-3"> Login</a></li>
  </ul>
  <!--
 <li><a href="{%url 'accounts:login'%}">login</a></li>
 <li><a href="{%url 'accounts:signup'%}">signup</a></li>
 -->
 {%endif%}


</div>
</nav>
  <div>
      <br>
<br>      <center>

    {%if user.is_authenticated%}
        welcome {{user.username}}
      </center>
      {%endif%}
  </div>

 <br>
 <br>
      <form action="{%url 'search'%}" method="POST">
          {%csrf_token%}
          <center>
            
  <input type="search" class="form-control mb-2 mr-sm-2" placeholder="search" id="search" name="searched">
  <button type="submit" class="btn btn-primary mb-2">Search</button>
        </center>
      </form>
  
   
   <br>
   <br>
    

    <div class="container">
        {%block content%}

        {%endblock%}
    </div>
    
</body>
</html>