{%extends "base.html"%}
{%block content%}
<div class="row">
    {%if temp%}
    {%for x in temp%}
    <div class="col-sm-2 col-md-2">
      <div class="thumbnail">
      <div class="card">
       
          <img src="{{x.movie.Image_url}}"  style="width:100%" alt="Card image" class="rounded">
       

          <div class="card-title text-center">
            {{x.title}}
          </div>
        </div>
      
      </div>
    </div>
      {%endfor%}
    </div>
    
    {% else %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong> No movies in your list.
        </div>
    {% endif %}
{%endblock%}